<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Nom <%=  user.nom %></h1>
<h1>Prénom <%= user.prenom %></h1>
<h1>Email <%= user.email %></h1>

<% if (user.admin) {%>
<h1>Je suis admin</h1>
<% } else { %>
<h1>Je ne suis pas un admin</h1>
<% } %>

</body>
</html>